.college-predictor-form input {

  background-color: rgb(235, 234, 234);
  height: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  box-sizing: border-box;
  border: 2.5px solid black;
  font-size: 16px;
  font-weight: '500';
}

.college-predictor-form input::placeholder {
  font-size: 16px;
  font-weight: '500';
}

.college-predictor-form button {

  font-size: 20px;
  border-radius: 10px;
  font-weight: '500';
  width: 100%;
  background-color: #8bc540;
  color: white;
  max-width: 200px;
  text-align: center;
  border: 2.5px solid black;
  cursor: pointer;
}

.college-predictor-form button:hover {
  background-color: black;
  color: white;
  /* Ensure the text color remains white */
}

.form-group {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.form-group label { 
  
  font-family: 'Inter', sans-serif;
  margin-bottom: 0;
  margin-right: 20px;
  font-weight: bold;
  text-align: left;
}

.form-group label div {
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  width: 100%;
}

.form-group input,
.form-group .css-2b097c-container {
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
}

@media (min-width: 600px) {

  .form-group label {
    margin-bottom: 0;
    margin-right: 20px;
    font-weight: bold;
    text-align: left;
  }

  .form-group label div {
      margin-bottom: 0.5rem;
      font-weight: 400;
      font-size: 1rem;
      text-align: left;
      width: 100%;
  }

  .form-group input,
  .form-group .css-2b097c-container {
    width: calc(100% - 250px);
    flex: none;
  }

    .college-predictor-form {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  
    .college-predictor-form input {
  
      background-color: rgb(235, 234, 234);
      height: 50px;
      border-radius: 10px;
      width: 100%;
      max-width: 350px;
      padding: 10px;
      box-sizing: border-box;
      border: 2.5px solid black;
      font-size: 16px;
      font-weight: 500;
    }
  
    .college-predictor-form input::placeholder {
      font-size: 16px;
      font-weight: 500;
    }
  
    .college-predictor-form button {

      font-size: 20px;
      border-radius: 10px;
      font-weight: 600;
      width: 100%;
      background-color: #8bc540;
      color: white;
      max-width: 200px;
      border: 2.5px solid black;
      cursor: pointer;
    }

    .college-predictor-form button:hover {
          background-color: black;
          color: white;
          /* Ensure the text color remains white */
    }
    .college-predictor-form div .css-qbdosj-Input {

      height: 45px;
    }
      
}