body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: var(--paragraph-color);
        overflow-x: hidden;
        font-family: var(--body-font);
        line-height: var(--line-height30);
        font-size: var(--body-font-size);
        font-family: 'Inter', sans-serif;
        /* background: #8bc540; */
        /* background: grey; */
        font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
